.hero-section{
    color: black;
    display: flex;
    margin: 5px;

    ul{
        display: flex;
        gap:10px;
        margin-left: 20%;
    }

    li{
        font-size: 10px;
        transition: all 0.5s ease;
    }

}

li:hover{
    
    padding: 4px;
    background: rgba(0, 0, 0, 0.238);;
    border-radius: 10px;
    text-shadow: 3px 3px 3px black;
}