.informe-salud{
    h3{
        font-size: 25px;
    }
    color: white;
    margin: 20px 0 20px 60px;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(130deg,rgb(23, 126, 204),rgb(29, 127, 219));
    text-shadow: 1px 1px 3px black;
}