@import "tailwindcss";
@import "flowbite";
/*no borrar estos por nada,son de tailwind.css*/

*{
  text-align: center;
}

h1{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




